<div class= "box">
  <div class= "box-inner">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h2>ログイン</h2>
      <div class="box-email">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="box-password">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="remember">
          <%= f.check_box :remember_me %>
          <%= f.label :ログインを維持する %>
        </div>
      <% end %>

      <div class="box-login">
        <%= f.submit "ログイン" %>
      </div>
      <%= link_to '管理者はこちら', new_admin_session_path, class:"admin-move" %><br>
      <%= render "users/shared/links" %>
    <% end %>
  </div>
</div>
