<h1>商品一覧</h1>
<div class= "search-box">
  <%= form_with url:search_users_parts_path, method: :get do |f| %>
    <%= f.collection_select(:category, @categories, :id, :name, prompt: '選択してください') %>
    <%= f.submit '検索'%>
  <% end %>
</div>

<table border="1">
  <tr>
    <th>商品名</th>
    <th>単価[円]</th>
    <th>購入単位[個(mm)]</th>
    <th>カテゴリー</th>
  </tr>
  <% @parts.each do |part| %>
    <tr>
      <td><%= part.name %></td>
      <td align="right"><%= part.price %></td>
      <td align="right"><%= part.quantity %></td>
      <td><%= part.parts_category.name %></td>
    </tr>
  <% end %>
</table>

<%= link_to '戻る', users_pages_index_path, class: "back-button" %>
