<!DOCTYPE html>
<html>
  <head>
    <title>YumekoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body background='/images/background.png'>
    <div class="logo">
      <% if user_signed_in? %>
        <%= link_to users_pages_index_path do %>
          <%= image_tag '/images/logo.png' %>
        <% end %>
      <% end %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
